@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Custom font-face definitions */
@font-face {
  font-family: "72 Brand Variable";
  src: url("/fonts/72BrandVariable.woff2") format("woff2"); /* Corrected path */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "72Mono";
  src: url("/fonts/72Mono-Regular.woff2") format("woff2"); /* Corrected path */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: SAP-icons;
  src: url("/fonts/SAP-icons-SVG.woff2") format("woff2"); /* Corrected path */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Custom variables for color and fonts */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-family: "72 Brand Variable", Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden !important;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden !important;
  font-family: var(--font-family) !important;
}

* {
  font-family: var(--font-family) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  accent-color: #000000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttonLoader {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 16px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-moz-scrollbar {
  display: none;
}

::selection {
  background-color: #282730;
  color: #fff;
}

.ant-drawer.ant-drawer-right {
  z-index: 9999 !important;
}
::-webkit-scrollbar {
  display: none;
  width: 1px;
  color: #000;
}
::-moz-scrollbar {
  display: none;
  width: 1px;
}